body{
    background-color: gray;
     font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    font-style: normal;
}  

.usuario{
    display: flex;
}
.post-header{
    display:flex;
    justify-content: space-between;
}
#post{
    background-color: white;
    width: 500px;
    height: 850px;
    margin: auto;
}
#perfil{
    border-radius: 100%;
}

.Post-icons{
    display:flex;
    justify-content: space-between;
}